<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:/_Envision/Logs/nlog-internal.log">

  <variable name="ExceptionVerboseLayout"
            value="${VerboseLayout} (${stacktrace:topFrames=10})  
                   ${exception:format=ToString}" />

  <variable name="appName" value="enService"/>
  <variable name="appPath" value="C:/_Envision/Logs/"/>
  <variable name="logArchive" value="${appPath}${appName}_archive{##}.log"/>
  <variable name="logTraceFile" value="${appPath}${appName}Trace.log"/>
  <variable name="logTraceArchive" value="${appPath}${appName}Trace_archive{##}.log"/>
  <targets async="true">
    <target name="asyncTrace" xsi:type="AsyncWrapper"
            queueLimit="5000" overflowAction="Grow">
      <target name="traceFile" xsi:type="File"
              fileName="${logTraceFile}"
              autoFlush="true"
              keepFileOpen="false"
              archiveFileName="${logTraceArchive}"
              archiveAboveSize="52428800"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="20"
              concurrentWrites="true"
              encoding="iso-8859-2"
              layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}}:${NDC} ${stacktrace:topFrames=1} ~ ${message} ${exception:format=tostring}"
      />
    </target>
  </targets>

  <rules>
    <logger name="*" enabled="true" minlevel="Trace" writeTo="asyncTrace" />
  </rules>
</nlog>
